/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 13px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: rgba(0, 0, 0, 0.952);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e6834173;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: rgba(0, 0, 0, 0.952);
    font-family: 'Poppins', sans-serif;
}
/* ---- START HEADER ---- */
header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #000000cc;
    padding: 15px 35px;
}
a{
    text-decoration: none;
    color: #fff;
}
h1{
    color: #e9e9e9;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.1;
}
.specialty{
    color: #bdbdbde8;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.1;
}
li{
    list-style: none;
}
#menu > ul > li{
    display: inline-block;
}
#menu > ul > li > a{
    margin: 0 10px;
    font-size: 1.2em;
    line-height: 1;
    display: inline-block;
    color: #e68341ee;
    text-decoration:none;
    cursor: pointer;
}
#menu > ul > li > a::after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #e68341ee;
    transition: width .4s ease-in-out;
}
#menu > ul > li > a:hover::after, #menu > ul > li > a:focus::after{
    width: 100%;
}
/* ---- END HEADER ---- */

/* ---- START ABOUT CONTAINER ---- */
.about_container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.text_about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
}
.my_text{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5em;
}
.photo_about{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
}
.my_photo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 450px;
    height: 450px;
    border: 3px solid #e68341ee;
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 0.5s;
}
.my_photo:hover{
    box-shadow: 0px 0px 30px #fff;
}
.my_photo > img{
    width: 250px;
}
/* ---- END ABOUT CONTAINER ---- */

/* ---- START CV CONTAINER ---- */
.cv_container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cv_link{
    color: #fff;
    line-height: 1.6;
    text-align: center;
    font-size: 2em;
}
.cv_link > a{
    color: #e68341ee;
    border-bottom: 3px solid #e68341ee;
    transition: background 0.5s;
    border-radius: 5px 5px 0 0;
}
.cv_link > a:hover{
    background: #c2b5b5;
    color: #000;
}
/* ---- END CV CONTAINER ---- */

/* ---- START PROJECTS CONTAINER ---- */
.projects_container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}
.projects_container > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 3vh 5vh;
}
.project_box > div{
    border: 2px solid #e68341ee;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.7s;
}
.project_box > div:hover{
    box-shadow: 0 0 25px #e68341ee;
}
h3{
    color: #fff;
    text-align: center;
    font-weight: 500;
    padding: 8px;
    font-size: 1.4em;
}
.project_img{
    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 15px;
}
/* ---- END PROJECTS CONTAINER ---- */

/* ---- START CONTACTS CONTAINER ---- */
.contacts_container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacts_container > div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5vh;
}
.contacts_container > div > img{
    width: 250px;
    height: 250px;
}
.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 50px;
    font-size: 1.8em;
}
.contact-item > ul >li{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px 40px;
    font-size: 20px;
    color: #000;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #fff;
    transition: box-shadow 0.6s;
    transition: background-color 0.6s;
}
address > ul >li:hover{
    background: #e68341ee;
    box-shadow: 0 0 18px #e68341ee;
    /* transition: background-color 0.6s; */
}
.contact-item > ul > li > a > img{
    width: 100px;
}
/* ---- END CONTACTS CONTAINER ---- */


/* ---- Adaptive layout ---- */

/* -- Media (max-width: 1920px) -- */
@media screen and (max-width: 1920px){
    header{
        height: 90px;
    }
    h1{
        font-size: 1.6em;
        line-height: 1;
    }
    .specialty{
        font-size: 1.1em;
        line-height: 1;
    }
    .my_text{
        font-size: 1.3em;
    }
    .my_photo{
        width: 350px;
        height: 350px;
    }
    .my_photo > img{
        width: 190px;
    }
    .cv_link{
        line-height: 1.4;
        font-size: 1.5em;
    }
    .projects_container > div{
        padding: 2vh 5vh;
    }
    .project_img{
        width: 300px;
    }
    h3{
        padding: 7px;
        font-size: 1.2em;
    }
    .contact-info{
        font-size: 1.4em;
    }
    .contact-item > ul >li{
        width: 75px;
        height: 75px;
    }
    .contact-item > ul > li > a > img{
        width: 75px;
    }
    .contacts_container > div{
        width: 200px;
        height: 200px;
    }
    .contacts_container > div > img{
        width: 200px;
        height: 200px;
    }
}

/* -- Media (max-width: 1280px) -- */
@media screen and (max-width: 1280px){
    header{
        height: 80px;
        background: #000000cc;
        padding: 15px 35px;
    }
    h1{
        font-size: 1.4em;
        line-height: 1.1;
    }
    .specialty{
        font-size: 1em;
        line-height: 1.1;
    }
    #menu > ul > li > a{
        margin: 0 5px;
        font-size: 1.1em;
    }
    .my_text{
        font-size: 1.1em;
    }
    .my_photo{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 300px;
        height: 300px;
        border: 2px solid #e68341ee;
        border-radius: 50%;
        overflow: hidden;
    }
    .my_photo:hover{
        transition: 0.5s;
        box-shadow: 0px 0px 20px #fff;
    }
    .my_photo > img{
        width: 165px;
    }
    .cv_link{
        line-height: 1.4;
        font-size: 1.3em;
    }
    .cv_link > a{
        border-bottom: 2px solid #e68341ee;
    }
    .projects_container > div{
        padding: 1vh 5vh;
    }
    .project_box > div{
        border-radius: 15px;
    }
    .project_img{
        width: 280px;
        border-radius: 10px;
    }
    h3{
        padding: 5px;
        font-size: 1.1em;
    }
    .contact-info{
        font-size: 1.2em;
    }
    .contact-item > ul >li{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .contact-item > ul > li > a > img{
        width: 70px;
    }
    .contacts_container > div{
        width: 180px;
        height: 180px;
    }
    .contacts_container > div > img{
        width: 180px;
        height: 180px;
    }
}

/* -- Media (max-width: 1024px) -- */
@media screen and (max-width: 1024px){
    h1{
        font-size: 1.35em;
        line-height: 1.1;
    }
    .specialty{
        font-size: 1em;
        line-height: 1.1;
    }
    #menu > ul > li > a{
        font-size: 1.05em;
    }
    .text_about{
        padding-left: 7%;
    }
    .my_text{
        font-size: 0.9em;
    }
    .cv_link{
        line-height: 1.3;
        font-size: 1.2em;
    }
    .projects_container > div{
        padding: 2vh 3vh;
    }
    .project_img{
        width: 260px;
    }
}

/* -- Media (max-width: 768px) -- */
@media screen and (max-width: 768px){
    .about_container{
        height: 100vh;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .text_about{
        width: 100%;
        padding-left: 0;
    }
    .my_text{
        font-size: 1.15em;
        padding: 60px 110px;
    }
    .photo_about{
        width: 100%;
        margin-bottom: 20px;
    }
    .my_photo{
        width: 340px;
        height: 340px;
        border: 2px solid #e68341ee;
    }
    .my_photo:hover{
        box-shadow: 0px 0px 20px #fff;
    }
    .my_photo > img{
        width: 190px;
    }
    .projects_container{
        flex-direction: row;
    }
    .projects_container > div{
        flex-direction: column;
        padding: 10vh 0;
    }
    .project_box > div:hover{
        box-shadow: 0 0 15px #e68341ee;
    }
    h3{
        padding: 5px;
        font-size: 1.2em;
    }
    .project_img{
        width: 280px;
    }
    .contact-item > ul >li{
        display: inline-block;
        margin: 10px 20px;
    }
}

/* -- Media (max-width: 480px) -- */
@media screen and (max-width: 480px){
    header{
        justify-content: center;
        flex-direction: column;
        height: 100px;
        background: #000000cc;
        padding: 3px 6px;
    }
    h1{
        margin-bottom: 6px;
    }
    .specialty{
        text-align: center;
        margin-bottom: 5px;
    }
    .name_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #menu > ul > li > a{
        margin: 0 12px;
    }
    .my_text{
        font-size: 1.05em;
        padding: 5px 10px;
    }
    .photo_about{
        margin-bottom: 0px;
        padding: 30px 0 50px 0;
    }
    .my_photo{
        align-items: center;
        width: 320px;
        height: 320px;
        overflow: hidden;
    }
    .my_photo > img{
        width: 170px;
        position: relative;
        top: 15px;
    }
    .projects_container{
        height: auto;
        flex-direction: column;
    }
    .projects_container > div{
        flex-direction: column;
        padding: 0;
    }
    .start_project{
        margin-top: 100px;
    }
    .project_box{
        margin-bottom: 15px;
    }
    .project_img{
        width: 340px;
    }
    .contacts_container > div{
        margin-top: 90px;
    }
    .contact-item > ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .contact-item > ul >li{
        width: 60px;
        height: 60px;
        display: inline-block;
        margin: 15px 25px;
    }
    .contact-item > ul > li > a > img{
        width: 60px;
    }

/* -- Media (max-width: 320px) -- */
@media screen and (max-width: 320px){
    
}